## Data Preprocessing
--- 
This notebook sets out to clean up the data

Mainly, we are looking to encode any string columns, and fill any NaN entries, and balance the dataset

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from imblearn.over_sampling import SMOTE

pd.set_option("display.max_columns", None)
# pd.set_option("display.max_rows", None)

import warnings
warnings.filterwarnings("ignore")

the raw data is available from: https://www.kaggle.com/competitions/home-credit-default-risk/data

In [56]:
data = pd.read_csv(r"raw_data/application_train.csv", index_col=0)

In [57]:
data.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# Shape of the data
data.shape

(307511, 121)

---
### Encode the dataset

In [4]:
categorical_features = [col for col in data.columns if data[col].dtype == 'object']

In [5]:
data = pd.get_dummies(data, columns=categorical_features)

---
### NaN entries

In [6]:
# remove any columns with more than 80% missing

data = data[data.columns[data.isnull().mean() < 0.80]]

In [7]:
# fill NaN values with linear regression

with_null = data.loc[:, data.isnull().any()]
without_null = data.loc[:, data.notnull().all()]
features_with_null = with_null.columns

for i, temp_feature in enumerate(features_with_null):
    print('For now, {} features have null data'.format(data.isnull().any().sum()))
    print('{} have {} null data'.format(temp_feature, data[temp_feature].isnull().sum()))
    
    temp_train = without_null.copy()
    temp_train[temp_feature] = with_null[temp_feature]
    
    new_train = temp_train.loc[temp_train[temp_feature].notnull(), :]
    new_test = temp_train.loc[temp_train[temp_feature].isnull(), :]
    
    temp_target = new_train[temp_feature].values
    
    new_train.drop([temp_feature], axis=1, inplace=True)
    new_test.drop([temp_feature], axis=1, inplace=True)
    
    print('-'*30,  '{} : Start Linear regression'.format(i), '-'*30)
    lr = LinearRegression()
    lr.fit(new_train, temp_target)
    
    temp_pred = lr.predict(new_test)

    new_train[temp_feature] = temp_target
    new_test[temp_feature] = temp_pred
    print('Prediction and concat')
    foo = pd.concat([new_train, new_test]).sort_index()
    
    data[temp_feature] = foo[temp_feature]
    
    del foo

For now, 61 features have null data
AMT_ANNUITY have 12 null data
------------------------------ 0 : Start Linear regression ------------------------------
Prediction and concat
For now, 60 features have null data
AMT_GOODS_PRICE have 278 null data
------------------------------ 1 : Start Linear regression ------------------------------
Prediction and concat
For now, 59 features have null data
OWN_CAR_AGE have 202929 null data
------------------------------ 2 : Start Linear regression ------------------------------
Prediction and concat
For now, 58 features have null data
CNT_FAM_MEMBERS have 2 null data
------------------------------ 3 : Start Linear regression ------------------------------
Prediction and concat
For now, 57 features have null data
EXT_SOURCE_1 have 173378 null data
------------------------------ 4 : Start Linear regression ------------------------------
Prediction and concat
For now, 56 features have null data
EXT_SOURCE_2 have 660 null data
------------------------------ 5 : Start Linear regression ------------------------------
Prediction and concat
For now, 55 features have null data
EXT_SOURCE_3 have 60965 null data
------------------------------ 6 : Start Linear regression ------------------------------
Prediction and concat
For now, 54 features have null data
APARTMENTS_AVG have 156061 null data
------------------------------ 7 : Start Linear regression ------------------------------
Prediction and concat
For now, 53 features have null data
BASEMENTAREA_AVG have 179943 null data
------------------------------ 8 : Start Linear regression ------------------------------
Prediction and concat
For now, 52 features have null data
YEARS_BEGINEXPLUATATION_AVG have 150007 null data
------------------------------ 9 : Start Linear regression ------------------------------
Prediction and concat
For now, 51 features have null data
YEARS_BUILD_AVG have 204488 null data
------------------------------ 10 : Start Linear regression ------------------------------
Prediction and concat
For now, 50 features have null data
COMMONAREA_AVG have 214865 null data
------------------------------ 11 : Start Linear regression ------------------------------
Prediction and concat
For now, 49 features have null data
ELEVATORS_AVG have 163891 null data
------------------------------ 12 : Start Linear regression ------------------------------
Prediction and concat
For now, 48 features have null data
ENTRANCES_AVG have 154828 null data
------------------------------ 13 : Start Linear regression ------------------------------
Prediction and concat
For now, 47 features have null data
FLOORSMAX_AVG have 153020 null data
------------------------------ 14 : Start Linear regression ------------------------------
Prediction and concat
For now, 46 features have null data
FLOORSMIN_AVG have 208642 null data
------------------------------ 15 : Start Linear regression ------------------------------
Prediction and concat
For now, 45 features have null data
LANDAREA_AVG have 182590 null data
------------------------------ 16 : Start Linear regression ------------------------------
Prediction and concat
For now, 44 features have null data
LIVINGAPARTMENTS_AVG have 210199 null data
------------------------------ 17 : Start Linear regression ------------------------------
Prediction and concat
For now, 43 features have null data
LIVINGAREA_AVG have 154350 null data
------------------------------ 18 : Start Linear regression ------------------------------
Prediction and concat
For now, 42 features have null data
NONLIVINGAPARTMENTS_AVG have 213514 null data
------------------------------ 19 : Start Linear regression ------------------------------
Prediction and concat
For now, 41 features have null data
NONLIVINGAREA_AVG have 169682 null data
------------------------------ 20 : Start Linear regression ------------------------------
Prediction and concat
For now, 40 features have null data
APARTMENTS_MODE have 156061 null data
------------------------------ 21 : Start Linear regression ------------------------------
Prediction and concat
For now, 39 features have null data
BASEMENTAREA_MODE have 179943 null data
------------------------------ 22 : Start Linear regression ------------------------------
Prediction and concat
For now, 38 features have null data
YEARS_BEGINEXPLUATATION_MODE have 150007 null data
------------------------------ 23 : Start Linear regression ------------------------------
Prediction and concat
For now, 37 features have null data
YEARS_BUILD_MODE have 204488 null data
------------------------------ 24 : Start Linear regression ------------------------------
Prediction and concat
For now, 36 features have null data
COMMONAREA_MODE have 214865 null data
------------------------------ 25 : Start Linear regression ------------------------------
Prediction and concat
For now, 35 features have null data
ELEVATORS_MODE have 163891 null data
------------------------------ 26 : Start Linear regression ------------------------------
Prediction and concat
For now, 34 features have null data
ENTRANCES_MODE have 154828 null data
------------------------------ 27 : Start Linear regression ------------------------------
Prediction and concat
For now, 33 features have null data
FLOORSMAX_MODE have 153020 null data
------------------------------ 28 : Start Linear regression ------------------------------
Prediction and concat
For now, 32 features have null data
FLOORSMIN_MODE have 208642 null data
------------------------------ 29 : Start Linear regression ------------------------------
Prediction and concat
For now, 31 features have null data
LANDAREA_MODE have 182590 null data
------------------------------ 30 : Start Linear regression ------------------------------
Prediction and concat
For now, 30 features have null data
LIVINGAPARTMENTS_MODE have 210199 null data
------------------------------ 31 : Start Linear regression ------------------------------
Prediction and concat
For now, 29 features have null data
LIVINGAREA_MODE have 154350 null data
------------------------------ 32 : Start Linear regression ------------------------------
Prediction and concat
For now, 28 features have null data
NONLIVINGAPARTMENTS_MODE have 213514 null data
------------------------------ 33 : Start Linear regression ------------------------------
Prediction and concat
For now, 27 features have null data
NONLIVINGAREA_MODE have 169682 null data
------------------------------ 34 : Start Linear regression ------------------------------
Prediction and concat
For now, 26 features have null data
APARTMENTS_MEDI have 156061 null data
------------------------------ 35 : Start Linear regression ------------------------------
Prediction and concat
For now, 25 features have null data
BASEMENTAREA_MEDI have 179943 null data
------------------------------ 36 : Start Linear regression ------------------------------
Prediction and concat
For now, 24 features have null data
YEARS_BEGINEXPLUATATION_MEDI have 150007 null data
------------------------------ 37 : Start Linear regression ------------------------------
Prediction and concat
For now, 23 features have null data
YEARS_BUILD_MEDI have 204488 null data
------------------------------ 38 : Start Linear regression ------------------------------
Prediction and concat
For now, 22 features have null data
COMMONAREA_MEDI have 214865 null data
------------------------------ 39 : Start Linear regression ------------------------------
Prediction and concat
For now, 21 features have null data
ELEVATORS_MEDI have 163891 null data
------------------------------ 40 : Start Linear regression ------------------------------
Prediction and concat
For now, 20 features have null data
ENTRANCES_MEDI have 154828 null data
------------------------------ 41 : Start Linear regression ------------------------------
Prediction and concat
For now, 19 features have null data
FLOORSMAX_MEDI have 153020 null data
------------------------------ 42 : Start Linear regression ------------------------------
Prediction and concat
For now, 18 features have null data
FLOORSMIN_MEDI have 208642 null data
------------------------------ 43 : Start Linear regression ------------------------------
Prediction and concat
For now, 17 features have null data
LANDAREA_MEDI have 182590 null data
------------------------------ 44 : Start Linear regression ------------------------------
Prediction and concat
For now, 16 features have null data
LIVINGAPARTMENTS_MEDI have 210199 null data
------------------------------ 45 : Start Linear regression ------------------------------
Prediction and concat
For now, 15 features have null data
LIVINGAREA_MEDI have 154350 null data
------------------------------ 46 : Start Linear regression ------------------------------
Prediction and concat
For now, 14 features have null data
NONLIVINGAPARTMENTS_MEDI have 213514 null data
------------------------------ 47 : Start Linear regression ------------------------------
Prediction and concat
For now, 13 features have null data
NONLIVINGAREA_MEDI have 169682 null data
------------------------------ 48 : Start Linear regression ------------------------------
Prediction and concat
For now, 12 features have null data
TOTALAREA_MODE have 148431 null data
------------------------------ 49 : Start Linear regression ------------------------------
Prediction and concat
For now, 11 features have null data
OBS_30_CNT_SOCIAL_CIRCLE have 1021 null data
------------------------------ 50 : Start Linear regression ------------------------------
Prediction and concat
For now, 10 features have null data
DEF_30_CNT_SOCIAL_CIRCLE have 1021 null data
------------------------------ 51 : Start Linear regression ------------------------------
Prediction and concat
For now, 9 features have null data
OBS_60_CNT_SOCIAL_CIRCLE have 1021 null data
------------------------------ 52 : Start Linear regression ------------------------------
Prediction and concat
For now, 8 features have null data
DEF_60_CNT_SOCIAL_CIRCLE have 1021 null data
------------------------------ 53 : Start Linear regression ------------------------------
Prediction and concat
For now, 7 features have null data
DAYS_LAST_PHONE_CHANGE have 1 null data
------------------------------ 54 : Start Linear regression ------------------------------
Prediction and concat
For now, 6 features have null data
AMT_REQ_CREDIT_BUREAU_HOUR have 41519 null data
------------------------------ 55 : Start Linear regression ------------------------------
Prediction and concat
For now, 5 features have null data
AMT_REQ_CREDIT_BUREAU_DAY have 41519 null data
------------------------------ 56 : Start Linear regression ------------------------------
Prediction and concat
For now, 4 features have null data
AMT_REQ_CREDIT_BUREAU_WEEK have 41519 null data
------------------------------ 57 : Start Linear regression ------------------------------
Prediction and concat
For now, 3 features have null data
AMT_REQ_CREDIT_BUREAU_MON have 41519 null data
------------------------------ 58 : Start Linear regression ------------------------------
Prediction and concat
For now, 2 features have null data
AMT_REQ_CREDIT_BUREAU_QRT have 41519 null data
------------------------------ 59 : Start Linear regression ------------------------------
Prediction and concat
For now, 1 features have null data
AMT_REQ_CREDIT_BUREAU_YEAR have 41519 null data
------------------------------ 60 : Start Linear regression ------------------------------
Prediction and concat

In [8]:
# check and return for any columns with NaN
print(
    f"There are {len(data.columns[data.isna().any()])} columns containing NaN values"
)

There are 0 columns containing NaN values

---
### Check dtypes

In [9]:
# check that all float columns are supposed to be floats

float_columns = data.columns[data.dtypes == "float64"]

data[float_columns]

data[["DAYS_REGISTRATION", "CNT_FAM_MEMBERS"]] = data[["DAYS_REGISTRATION", "CNT_FAM_MEMBERS"]].astype(int)

In [53]:
# Lets also check that all the values in the dataframe as numerical

data.select_dtypes(exclude=["int64", "int32", "float64", "uint8"])

# this is just the index, so all is good

Empty DataFrame
Columns: []
Index: [100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010, 100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019, 100020, 100021, 100022, 100023, 100024, 100025, 100026, 100027, 100029, 100030, 100031, 100032, 100033, 100034, 100035, 100036, 100037, 100039, 100040, 100041, 100043, 100044, 100045, 100046, 100047, 100048, 100049, 100050, 100051, 100052, 100053, 100054, 100055, 100056, 100058, 100059, 100060, 100061, 100062, 100063, 100064, 100068, 100069, 100070, 100071, 100072, 100073, 100075, 100076, 100077, 100078, 100079, 100080, 100081, 100082, 100083, 100084, 100085, 100086, 100087, 100088, 100089, 100093, 100094, 100095, 100096, 100097, 100098, 100099, 100100, 100101, 100102, 100103, 100104, 100105, 100108, 100110, 100111, 100112, 100113, 100114, 100115, 100116, 100118, ...]

[307511 rows x 0 columns]

---
### Balance the dataset

In [10]:
# OVERSAMPLING
x = data.drop(["TARGET"], axis=1)
y = data.filter(["TARGET"], axis=1)

smote = SMOTE()
x_resampled, y_resampled = smote.fit_resample(x, y)

oversampled_df = pd.DataFrame()
oversampled_df = pd.concat([x_resampled, y_resampled], axis=1)
# shuffle dataframe
oversampled_df = oversampled_df.sample(frac=1, random_state=42)

# oversampled_df.head()

---
### Correlations

In [12]:
def drop_correlated_columns(data, threshold, column_dropped=False):
    """
    This function drops any columns that have a high correlation to each other
    It will only leave one of the highly correlated columns
    """
    
    # Create correlation matrix
    corr_matrix = data.corr().abs()
    
    # Select upper triangle of correlation matrix
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
    
    # Find index of feature columns with correlation greater than threshold
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
    
    # Drop the highly correlated columns
    for column in to_drop:
        data.drop(column, axis=1, inplace=True)
        
    if column_dropped:
        print(f"Columns dropped:\n{to_drop}")
    return data

In [13]:
oversampled_df.shape

(565372, 245)

In [14]:
# drop any columns with a high correlation

oversampled_df = drop_correlated_columns(oversampled_df, threshold=0.8, column_dropped=True)

Columns dropped:
['AMT_GOODS_PRICE', 'FLAG_EMP_PHONE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT_W_CITY', 'LIVE_REGION_NOT_WORK_REGION', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'NAME_CONTRACT_TYPE_Revolving loans', 'NAME_INCOME_TYPE_Pensioner', 'ORGANIZATION_TYPE_XNA', 'EMERGENCYSTATE_MODE_No']

In [15]:
oversampled_df.shape

(565372, 203)

---
### Split the dataset train/test csv

In [16]:
def split_dataset(df, test_size=0.2):
    train_size = 1 - test_size
    train = df[:int(len(df)*train_size)]
    test = df[int(len(df)*train_size):]
    
    return train, test

In [54]:
oversampled_train, oversampled_test = split_dataset(oversampled_df, test_size=0.15)

print(f"Train dataset: {oversampled_train.shape}")
print(f"Test dataset: {oversampled_test.shape}")

Train dataset: (480566, 203)
Test dataset: (84806, 203)

---
### Export the datasets

In [ ]:
oversampled_df.head()

In [18]:
# export the cleaned data to a new file

oversampled_train.to_csv(r"processed_data/oversampled_train.csv")
oversampled_test.to_csv(r"processed_data/oversampled_test.csv")

oversampled_df.to_csv(r"processed_data/complete_data.csv")

print("Data exported")

Data exported